.top {
  position: relative;
  background-position: center center, center center;
  background-repeat: no-repeat, no-repeat;
  width: 100%;

  &__container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 80px;
    z-index: 2;
  }

  &__solo-title {
    font-weight: @font-weight-bold;
    font-size: 80px;
    line-height: 98px;
    color: @color-white;
  }
}

.top_background-image_home {
  background-image: url("../../images/backgrounds/background-01.png");
}
.top_background-image_facilities {
  background-image: url("../../images/backgrounds/palm-trees-at-night-258154_1.png");
}
.top_background-image_rooms {
  background-image: url("../../images/backgrounds/apartment-bed-bedroom-chair.png");
}

.top_background-image_contact-us {
  background-image: none;
  background: @color-black;
}

@media (max-width: 900px) {

}

@media (max-width: 740px) {
  .top {
    .top__container {
      padding: 0 22px;
    }
  }
}