.contact-form {
    display: inline-block;
    max-width: 570px;
    width: 100%;
    text-align: right;
    float: right;

    &__input-form {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__submit-button {
        border: none;
        outline: none;
    }
}

